.vscode/*
*.json
data/*
*.pyc
baselines/*.txt
baselines/*.dat
*.so
log/*
log-50k/*
*pylint
*pylints/*
*test_scripts/*
data
yelp_dataset/adjs/*
yelp_dataset/json/*
yelp_dataset/rates/*
yelp_dataset/filtered/*
yelp_dataset/mf_features/*
baseline_1/*